<div id="compareModal" class="container">
    <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-header">
              
        <h1 class="modal-title text-center">Primerjava ponudb</h1>    
    </div>
    <div class="modal-body">
        <div class="container">
                                  
            <uib-pagination ng-show="false" total-items="filteredComparing.length" ng-model="currentPage" items-per-page="itemsPerPage" previous-text="&laquo;"
                next-text="&raquo;">
            </uib-pagination>
            <div class="row" ng-show="false">
                <div class="col-sm-3">
                    <div>Ponudnik ₭</div>
                    <div>Produkt</div>
                    <div>Znesek kredita ※</div>
                    <div>Doba odplačila</div>
                    <div>Anuiteta</div>
                    <div>Namen</div>
                    <div>Zavarovanje</div>
                    <div>Sodelovanje</div>
                    <div>Obrestna mera</div>
                    <div>Sestava OM</div>
                    <div>EOM</div>
                    <div>Skupaj stroški</div>
                    <div>Skupaj za plačilo</div>
                </div>
                <div class="col-sm-3 well" ng-repeat="quote in filteredComparing | startFrom: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                    <div class="provider-logo {{quote.provider.id}}">
                        <button type="button" class="close" ng-click="quote.compare = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div>{{quote.product.name}} <a ng-href="{{quote.product.link}}" target="_blank"><i class="fa fa-external-link"></i></a></div>
                    <div>
                        <h3><strong>{{quote.amount | number: 2}} €</strong></h3></div>
                    <div>
                        <h3><strong>{{quote.annuity | number: 2}} €</strong></h3></div>
                    <div>{{quote.duration}} mesecev</div>
                    <div>{{quote.purposeLoanTypeName}}</div>
                    <div>{{quote.securityTypeName}}</div>
                    <div>{{quote.relationTypeName}}</div>
                    <div>{{quote.apr | number: 2}} % {{quote.aprTypeName}}</div>
                    <div ng-show="quote.query.aprType == enums.aprType.VAR">
                        {{quote.aprBase | number: 2}} + {{quote.aprMargin | number: 2}}
                    </div>
                    <div>
                        <h3><strong>{{quote.ear | number: 2}} %</strong></h3></div>
                    <div>{{quote.costsTotal}}</div>
                    <div>{{quote.amountRepay}}</div>
                </div>
            </div>
                
                        
            <div class="row">
                <table class="table table-reflow">
                    <tr>
                        <th>#</th>
                        <th>Ponudnik</th>
                        <th>Produkt</th>
                        <th>Znesek kredita</th>
                        <th>Doba odplačila</th>
                        <th>Anuiteta</th>
                        <th>Namen</th>
                        <th>Zavarovanje</th>
                        <th>Sodelovanje</th>
                        <th>Obrestna mera</th>
                        <th>Sestava OM</th>
                        <th>EOM</th>
                        <th>Skupaj stroški</th>
                        <th>Skupaj obresti
                            <a href="#" tooltip-placement="right" 
                                uib-tooltip="Izračunane po formuli: &#013; Skupaj obresti = Skupaj za plačilo - Znesek kredita - Skupaj stroški">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </th>
                        <th>Skupaj za plačilo</th>
                    </tr>
                    <tr class="compare-row" 
                        ng-repeat="quote in filteredComparing | startFrom: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                        <td class="text-right"><a href ng-click="quote.compare = false">Odstrani</a></td>
                        <th scope="row">
                            {{quote.provider.name}}                            
                        </th>
                        <td>{{quote.product.name}}
                            <a ng-href="{{quote.product.link}}" target="_blank"                                
                                analytics-on analytics-event="Produkt-site" analytics-category="Compare" analytics-label="{{quote.provider.name}}">
                                <i class="fa fa-external-link"></i></a>
                        </td>
                        <td>{{quote.amount | number: 2}} €</td>
                        <td>{{quote.duration}} mesecev</td>
                        <td>{{quote.annuity | number: 2}} €</td>                        
                        <td>{{quote.purposeLoanTypeName}}</td>
                        <td>{{quote.securityTypeName}}</td>
                        <td>{{quote.relationTypeName}}</td>
                        <td>{{quote.apr | number: 2}} % {{quote.aprTypeName}}</td>
                        <td>
                            <span ng-show="quote.query.aprType == enums.aprType.FIX">{{quote.apr | number: 2}} o.t.</span>
                            <span ng-show="quote.query.aprType == enums.aprType.VAR">{{quote.aprBase | number: 2}}% + {{quote.aprMargin | number: 2}} o.t.</span>
                        </td>
                        <td>{{quote.ear | number: 2}} %</td>
                        <td>{{quote.costsTotal | number: 2}} €</td>
                        <td>{{quote.interestTotal | number: 2}} €</td>
                        <td>{{quote.amountRepay | number: 2}} €</td>
                    </tr>                    
                </table>

            </div>
            
                          

        </div>
    </div>
    <div class="modal-footer">

        <div class="row text-center">
            <h3>Želiš to primerjavo deliti še z nekom? Pošlji izpis na e-poštni naslov.</h3>                
            
            <p>
                <form class="form-inline" ng-submit="sendPdfTo(email)">

                    <div class="form-group">

                        <div class="input-group">
                            <label class="sr-only" for="labelEmail">E-naslov</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="E-naslov" ng-model="email" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"
                                    analytics-on analytics-event="PDF" analytics-category="Commands" analytics-label="send">
                                    Pošlji primerjavo
                                </button>
                            </span>                            
                        </div>
                        <p class="text-success" ng-show="isMailSent">Poslano!</p>
                        <p class="text-danger" ng-show="isMailSentError">Napaka pri pošiljanju.</p>
                    </div>                    
                    
                </form>
                
            </p>
            
            <p class="text-small">
                <a href 
                    ng-click="exportPdf()"
                    analytics-on analytics-event="PDF" analytics-category="Commands" analytics-label="export">
                    (Ne, hvala. Samo izvozi v PDF.)
                </a>
            </p>
            
        </div>  

    </div>
</div>