<div id="contactModal" class="container">
    <button type="button" class="close" ng-click="ctrl.close()" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-header">            
        <h1 class="modal-title text-center">Zanima nas vaše mnenje.</h1>    
    </div>
    <div class="modal-body">
        <div class="row">
                                  
         <form ng-submit="sendContact('feedback=' + feedback + ' sporocilo=' + message + ' email=' + email + ' check=' + check)">

             <div class="form-group">
                <label for="inputEmail">Se vam zdi storitev uporabna ?</label>
                <div>
                    <div class="btn-group" ng-init="feedback = true">
                        <a class="btn btn-default" ng-class="{active: feedback}" ng-click="feedback = true"><i class="fa fa-thumbs-up fa-lg"></i></a>
                        <a class="btn btn-default" ng-class="{active: !feedback}" ng-click="feedback = false"><i class="fa fa-thumbs-down fa-lg"></i></a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputMessage">Nam lahko, prosim, pojasnite ...</label>
                <textarea ng-model="message" class="form-control" rows="4" placeholder="Primer: Super, ampak kdaj bo mogoče primerjati stanovanjce?"></textarea>
            </div>

            <div class="form-group">
                <label for="inputEmail">E-pošta*</label>
                <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="janez.novak@pošta.si">
            </div>

            <div class="checkbox">
                <label>
                    <input ng-model="check" type="checkbox"> Zanimam se za storitev. Prosim, obvestite me, ko bo kaj novega!
                </label>
                <p class="help-block">(** Obljubimo, da vas ne bomo nadlegovali in vam pošiljali neželene pošte.)</p>
            </div>
                       
            <button type="submit" class="btn btn-warning">Pošlji</button>
            <p class="text-success" ng-show="isMailSent">Uspelo. Najlepša hvala.</p>
            <p class="text-danger" ng-show="isMailSentError">Napaka pri pošiljanju.</p>
        </form>   
            
                          

        </div>
    </div>
    <div class="modal-footer">

        <div class="row text-center">
            
            
        </div>  

    </div>
</div>