<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kredarca</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href ng-click="openContactModal()">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Najdi najugodnejšo ponudbo kredita</h1>
        <p class="lead">Primerjaj ponudbe, ki jih na svojih spletnih straneh ponujajo ponudniki kreditov.
        </p>
    </div>
</div>

<div class="marketing-steps">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="k-circle">1</div>
                <h2>Pridobi</h2>
                <p>Vnesi osnovne podatke kredita in pridobi različne ponudbe produktov, ki jih ponudniki ponujajo preko spletnih
                    izračunov.</p>
            </div>
            <div class="col-sm-4">
                <div class="k-circle">2</div>
                <h2>Filtriraj</h2>
                <p>Filtriraj in razvrščaj po različnih kriterijih. Uporabi vodič v 3 korakih, ki te bo pripeljal do najugodnejše
                    ponudbe kredita.</p>
            </div>
            <div class="col-sm-4">
                <div class="k-circle">3</div>
                <h2>Primerjaj</h2>
                <p>Izberi 4 ponudbe za podrobnejši pregled pogojev. Primerjavo izvozi kot PDF ali pošlji na poljuben e-poštni
                    naslov.</p>
            </div>
        </div>
    </div>
</div>


<div class="container loan-selection">    
    <form>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Znesek kredita*</label>
                    <div class="input-group input-group-lg">
                        <input class="form-control" ng-model="loan.amount" ng-blur="" aria-label="Znesek kredita" required>
                        <span class="input-group-addon">€</span>
                    </div>  
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Odplačilna doba</label>
                    <div class="input-group input-group-lg">
                        <input class="form-control" ng-model="loan.duration" ng-blur="" aria-label="Doba odplačila" required>
                        <span class="input-group-addon">mesecev</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Namen</label>
                    <a href="#" tooltip-placement="bottom" uib-tooltip="{{maps.purposeType[loan.purpose].description}}">
                        <i class="fa fa-question-circle"></i>
                    </a>
                    <select class="form-control input-lg" ng-model="loan.purpose" ng-blur="" aria-label="Namen kredita" ng-options="purpose.id as purpose.name disable when purpose.hidden for purpose in lists.purposeType"
                        required>                        
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="invisible">Pridobi</label>
                    <button class="btn btn-lg btn-default btn-block" ng-click="getQuotes(loan)" analytics-on analytics-category="Commands" analytics-label="{{loan.amount}}">
                        Pridobi ponudbe</button>
                </div>
            </div>
        </div>
    </form>
    <span class="help-block">
        <small>*Koliko kredita lahko dobim? Izračunaj kreditno sposobnost
            <a class=""
                ng-href="http://www.moj-kredit.eu/" target="_blank"                            
                analytics-on analytics-event="Moj-kredit-site" analytics-category="Commands">                
                <i class="fa fa-external-link"></i>
            </a>.
        </small>
    </span>
</div>

<steps class="k-steps bg-primary" name="k-steps-filter-guide" current-step="currentStep">
    <step class="k-step" name="k-step-start">
        <div class="k-step-start container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-3 text-center">
                    <h4>Najdi svojo ponudbo:</h4>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-lg btn-warning btn-block" ng-click="gotoStep('k-guide-step-1')" analytics-on analytics-category="Commands"
                        analytics-label="guide" step-next="resetFilters()">
                        Naj te vodimo</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-lg btn-default btn-block" ng-click="gotoStep('k-filter-step-0')" analytics-on analytics-category="Commands"
                        analytics-label="guide">
                        Filtriraj vse ponudbe</button>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </step>
    <step class="k-step" name="k-guide-step-1">
        <div class="container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-2">
                    <h3>Prilagodi ponudbo</h3>
                    <p>Korak 1/3</p>
                    <button class="btn btn-warning btn-sm" step-cancel>Nazaj</button>
                </div>
                <div class="col-sm-8">
                    <div class="question-box">
                        <h3>Želite kredit s fiksno ali spremenljivo obrestno mero?</h3>
                    </div>
                    <label class="btn btn-default" ng-model="filters.query.aprType" uib-btn-radio="apr.id" ng-repeat="apr in lists.aprType">{{apr.name}}</label>
                    <label class="btn btn-default" ng-model="filters.query.aprType" uib-btn-radio="'!x'" ng-click="filters.query.aprType = '!x'">Ne vem</label>
                    <button class="btn btn-warning btn-sm" step-next>Naprej</button>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </step>
    <step class="k-step" name="k-guide-step-2">
        <div class="container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-2">
                    <h3>Prilagodi ponudbo</h3>
                    <p>Korak 2/3</p>
                    <button class="btn btn-warning btn-sm" step-previous>Nazaj</button>
                </div>
                <div class="col-sm-8">
                    <div class="question-box">
                        <h3>Želite kredit zavarovati pri zavarovalnici, s hipoteko ali s poroštvom?</h3>
                    </div>
                    <label class="btn btn-default" ng-model="loan.securityType" uib-btn-radio="security.id" ng-change="getQuotes(loan)" ng-repeat="security in lists.securityType"
                        ng-class="{'hidden': security.hidden}">{{security.name}}                        
                    </label>
                    <button class="btn btn-warning btn-sm" step-next>Naprej</button>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </step>
    <step class="k-step" name="k-guide-step-3">
        <div class="container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-2">
                    <h3>Prilagodi ponudbo</h3>
                    <p>Korak 3/3</p>
                    <button class="btn btn-warning btn-sm" step-previous>Nazaj</button>
                </div>
                <div class="col-sm-8">
                    <div class="question-box">
                        <h3>Ste komitent pri katerem od ponudnikov kreditov?</h3>
                        <h4>Za komitente so ponudbe ugodnejše kot za nekomitente.</h4>
                    </div>
                    <label class="btn btn-default" ng-model="loan.membershipType" uib-btn-radio="enums.membershipType.SOM" ng-change="setMemberships()">Komitent</label>
                    <!--<label class="btn btn-xs btn-default" ng-model="loan.membershipType" uib-btn-radio="enums.membershipType.ALL" ng-change="setMemberships()">Komitent</label>-->
                    <label class="btn btn-default" ng-model="loan.membershipType" uib-btn-radio="enums.membershipType.NON" ng-change="setMemberships()">Nekomitent</label>
                    <label class="btn btn-default" ng-model="loan.membershipType" uib-btn-radio="enums.membershipType.ANY">Ne vem</label>
                    <button class="btn btn-warning btn-sm" step-next>Naprej</button>
                    <ui-select multiple ng-model="loan.memberships" ng-hide="loan.membershipType != enums.membershipType.SOM" close-on-select="true"
                        on-remove="setMembershipType()" on-select="setMembershipType()">
                        <ui-select-match placeholder="Izberite ponudnike, pri katerih ste komitent...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="provider.id as provider in providers | filter: $select.search">
                            {{provider.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </step>
    <step class="k-step" name="k-guide-step-4">
        <div class="container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-2">
                    <h3>Prilagodi ponudbo</h3>
                    <p>Konec!</p>
                    <button class="btn btn-warning btn-sm" step-previous>Nazaj</button>
                </div>
                <div class="col-sm-8">
                    <h3>
                        Med {{quotes.length}} ponudbami je za vas najugodnejši
                        <a class="label label-success"
                            ng-href="{{filtered[0].product.link}}" target="_blank"                            
                            analytics-on analytics-event="Produkt-site" analytics-category="Guide" analytics-label="{{filtered[0].product.name}}">{{filtered[0].product.name}}</a>
                        ponudnika {{filtered[0].provider.name}}.
                    </h3>
                    <h4>
                        Vam izbor ne ustreza? Preiščite vse ponudbe.                       
                    </h4>
                    <button class="btn btn-default" step-next>Filtriraj vse ponudbe</button>                    
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </step>
    <!--    
        Step: FILTERS
    -->
    <step class="k-step" name="k-filter-step-0">
        <div class="k-filter-step-0 container">
            <div class="row row-sm-flex-center">
                <div class="col-sm-2">
                    <button class="btn btn-warning btn-sm" step-cancel>Nazaj</button>
                </div>
                <div class="col-sm-8">
                    <div class="filter-box">
                        <label>Ponudnik</label>
                        <select class="form-control" ng-model="filters.provider.id" ng-init="filters.provider.id = '!x'">
                            <option value="!x">Ni pomembno</option>                                      
                            <option ng-repeat="provider in providers" value="{{provider.id}}">{{provider.name}}</option>                        
                        </select>
                    </div>
                    <div class="filter-box">
                        <label>Obrestna mera</label>
                        <select class="form-control" ng-model="filters.query.aprType" ng-init="filters.query.aprType = '!x'">                        
                            <option value="!x">Ni pomembno</option>
                            <option ng-repeat="apr in lists.aprType" value="{{apr.id}}">{{apr.name}}</option>                        
                        </select>
                    </div>
                    <div class="filter-box">
                        <label>Zavarovanje</label>
                        <select class="form-control" ng-model="loan.securityType" ng-change="getQuotes(loan)" ng-options="security.id as security.name for security in lists.securityType"
                            required>                                                 
                        </select>
                    </div>
                    <div class="filter-box">
                        <label>Sodelovanje</label>
                        <select class="form-control" ng-model="loan.membershipType" ng-change="setMemberships()" ng-options="membership.id as membership.name for membership in lists.membershipType | filter: {hidden: '!true'}"
                            required>                        
                        </select>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </step>
</steps>

<div id="progress-bar" class="progress-overlay well" ng-show="loading">
    <h3>Pridobivam {{progress.current}} različnih ponudb...</h3>
    <uib-progressbar value="progress.current" max="progress.total"></uib-progressbar>
    <p>Analiziram spletne info-izračune različnih ponudnikov glede na vaše iskalne pogoje.</p>
    <div ng-repeat="provider in providers" class="provider-logo inline" ng-class="'{{provider.id}}'"></div>
</div>

<div id="quote-page" class="container-fluid">

    <div id="updating-bar" class="loading-overlay" ng-show="updating">
        <i class="fa fa-spin fa-spinner"></i>
        <span>Posodabljam...</span>
    </div>



    <div class="container">
        <div class="row">
            <div class="pull-right">
                <span><em>Razvrsti ponudbe po: </em></span>
                <div class="sort-box">
                    <select class="form-control" ng-model="sort">                    
                        <option value="ear">EOM (Priporočeno)</option>
                        <option value="annuity">Anuiteta</option>
                        <option value="apr">Obrestna mera</option>
                        <option value="costsTotal">Skupni stroški</option>
                        <option value="interestTotal">Skupne obresti</option>
                        <option value="amountRepay">Skupni znesek</option>                    
                        <option value="aprBase">Referenčna OM</option>
                        <option value="aprMargin">Pribitek OM</option>
                        <!--<option ng-repeat="apr in lists.aprType" value="{{apr.id}}">{{apr.name}}</option>                        -->
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div id="horizontalView" class="container" ng-show="horizontalView">
        <div class="row text-center">
            <div class="col-sm-2 text-left">Ponudnik</div>
            <div class="col-sm-2">
                Obrestna mera
            </div>
            <div class="col-sm-2">
                Anuiteta
                <a href="#" tooltip-placement="top" uib-tooltip="Mesečna obveznost">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
            <div class="col-sm-2">
                Skupni znesek
                <a href="#" tooltip-placement="top" uib-tooltip="Skupni znesek, ki ga plača kreditojemalec">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
            <div class="col-sm-2">
                Skupaj stroški
            </div>
            <div class="col-sm-2">
                EOM
                <a href="#" tooltip-placement="top" uib-tooltip="Efektivna obrestna mera">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>

        <div class="panel panel-default panel-quote" ng-class="{'highlighted': $first}" ng-repeat="quote in (filtered = (quotes | filter:filters:true | filter:filterMembership | orderBy:sort)) as results track by $index">
            <div class="panel-body">
                <!--<div class="panel-heading">-->
                <div class="row text-center row-sm-flex-center">
                    <div class="col-sm-3">
                        <a ng-href="{{quote.provider.link}}" target="_blank" title="{{quote.provider.longName}}">
                            <div class="provider-logo {{quote.provider.id}}"></div>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <h3><strong>{{quote.apr | number: 2}}%</strong> <span class="label label-default">{{quote.aprTypeName}}</span>
                        </h3>
                    </div>
                    <div class="col-sm-2">
                        <h3><strong>{{quote.annuity | number: 2}} €</strong>
                            <small>mesečno</small>
                        </h3>
                    </div>
                    <div class="col-sm-2">
                        <h3><strong>{{quote.amountRepay | number: 2}} €</strong></h3>
                    </div>
                    <div class="col-sm-2">
                        <h3><strong>{{quote.costsTotal | number: 2}} €</strong></h3>
                    </div>
                    <div class="col-sm-2">
                        <h2><strong>{{quote.ear | number: 2}} %</strong></h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3">
                        <div class="checkbox" ng-class="{'disabled': isDisabledCompareCheckbox(quote)}">
                            <label>
                                <input type="checkbox" ng-model="quote.compare" ng-disabled="isDisabledCompareCheckbox(quote)">                                 
                                    Dodaj za primerjanje                                
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn-link" ng-click="status.open = !status.open">
                            <span class="fa fa-chevron-right" ng-class="{'fa-chevron-down': !status.open, 'fa-chevron-right': status.open}"></span>
                        </button>
                    </div>
                    <div class="col-sm-offset-1 col-sm-2">
                        <button class="btn btn-default" ng-click="openCompareModal()" disabled>Nadaljuj</button>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-show="status.open">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Podatki produkta</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal dl-narrow">
                                    <!--<dt>Ponudnik</dt>-->
                                    <!--<dd>{{quote.provider.name}}</dd>                                  -->
                                    <dt>Produkt</dt>
                                    <dd>{{quote.product.name}}
                                        <a ng-href="{{quote.product.link}}" target="_blank" title="Odpri spletno stran produkta"
                                            analytics-on analytics-event="Produkt-site" analytics-category="Quotes" analytics-label="{{quote.product.name}}">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </dd>
                                    <dt>Namen</dt>
                                    <dd>{{quote.purposeLoanTypeName}}</dd>
                                    <dt>Sodelovanje</dt>
                                    <dd>{{quote.relationTypeName}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Podatki kredita</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Znesek kredita</dt>
                                    <dd>{{quote.amount | number: 2}} €</dd>
                                    <dt>Doba odplačila</dt>
                                    <dd>{{quote.duration}} mesecev</dd>
                                    <dt>Anuiteta</dt>
                                    <dd>{{quote.annuity | number: 2}} €</dd>
                                    <dt>Zavarovanje</dt>
                                    <dd>{{quote.securityTypeName}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Obrestna mera</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal dl-narrow">
                                    <dt>Višina</dt>
                                    <dd>{{quote.apr | number: 2}} %</dd>
                                    <dt>Tip</dt>
                                    <dd>{{quote.aprTypeName}}</dd>
                                    <dt>Sestava</dt>
                                    <dd>
                                        <span ng-show="quote.query.aprType == enums.aprType.FIX">{{quote.apr | number: 2}} o.t.</span>
                                        <span ng-show="quote.query.aprType == enums.aprType.VAR">{{quote.aprBase | number: 2}}% + {{quote.aprMargin | number: 2}} o.t.</span>
                                    </dd>
                                    <dt>EOM</dt>
                                    <dd>{{quote.ear | number: 2}} %</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Zneski skupaj</h3>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Skupaj stroški</dt>
                                    <dd>{{quote.costsTotal | number: 2}} €</dd>
                                    <dt>Skupaj obresti</dt>
                                    <dd>{{quote.interestTotal | number: 2}} €</dd>
                                    <dt>Skupni znesek</dt>
                                    <dd>{{quote.amountRepay | number: 2}} €</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="animate-repeat well text-center" ng-if="results.length == 0">
            <h3>Smola, ne najdem ustrezne ponudbe.</h3>
        </div>



    </div>

</div>

<footer class="k-footer">
    <div class="container">
        <div class="k-send-email">
            <h3>Vpiši e-pošto in dobiš sporočilo, ko bo kaj novega.</h3>          
            <form class="form-inline" ng-submit="addEmailToList(email)">

                <div class="form-group">

                    <div class="input-group">
                        <label class="sr-only" for="labelEmail">E-naslov</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="" ng-model="email" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning"
                                analytics-on analytics-event="email" analytics-category="Commands" analytics-label="send">
                                Naroči me
                            </button>
                        </span>                            
                    </div>
                    <p class="text-success" ng-show="isMailSent">Poslano!</p>
                    <p class="text-danger" ng-show="isMailSentError">Napaka pri pošiljanju.</p>
                </div>                    
                
            </form>                
        </div>      
        <div class="text-left">
            <p>&copy; Kredarca 2016. <a href ng-click="openContactModal()">Kontakt</a></p>
            <p>Storitev ne ponuja in ne trži kreditov in podobnih produktov, ampak le pridobiva in prikazuje ponudbe, ki jih na svojih spletnih straneh ponujajo
                ponudniki kot informativne izračune za svoje produkte. 
                <i class="fa fa-ban" title="No Harm. (Primum non nocere)"></i> Noben ponudnik ne trpi med procesom pridobivanja ponudbe.
            </p>
        </div>
    </div>
</footer>