body {
	background-color: #f5f5f5;
	/* color: #555555; */
}

h3 {
/* color: #555; */
}

:focus,
a:hover,
a:focus {
  text-decoration: none;
  outline-color: none;
  outline-style: none;
  outline-width: 0px;
}


/*.animate-repeat.ng-move,*/
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
/*.animate-repeat.ng-move,*/
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
  /*max-width:0;*/
}

.animate-repeat.ng-leave,
/*.animate-repeat.ng-move.ng-move-active,*/
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100px;
  /*max-width:230px;  */
}

/* Providers images */
.provider-logo {
  height: 50px;
  width: 180px;
  -webkit-filter: grayscale(100%) opacity(70%);
  filter: grayscale(100%) opacity(70%);  
}
.provider-logo:hover {  
  -webkit-filter: none;
  filter: none;  
  transition: all .4s ease-in;
}
.provider-logo.inline {
    transform: scale(0.65, 0.65);       
    display: inline-block;
}
.provider-logo.SBB {
  background: url('../img/provider-SBB.png');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: 10px;
}
.provider-logo.NLB {  
  /*background: url('../img/provider-NLB1.png');*/
  /*background-size: 100px;*/
  background: url('../img/provider-NLB.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-y: -70px;
  background-position-x: 7px;
}
.provider-logo.LON {
  background: url('../img/provider-LON.jpg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 0px 13px;
}
.provider-logo.SKB {
  background: url('../img/provider-SKB.jpg');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 10px 5px;
}
.provider-logo.ABA {
  background: url('../img/provider-ABA.png');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: 10px 15px;  
}
.provider-logo.NKB {
  background: url('../img/provider-NKB.png');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 5px 2px;
}
.provider-logo.UNI {
  background: url('../img/provider-UNI.gif');
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 7px 10px;
}
.provider-logo.BKP {
  background: url('../img/provider-BKP.gif');
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 7px 10px;
}
/* Providers images END */

/* Horizontal alignment */
.row-xs-flex-center {
    display: flex;
	display: -webkit-flex;
    align-items:center;
	-webkit-align-items: center;
}
@media ( min-width:768px ) {
  .row-sm-flex-center {
        display: flex;
        display: -webkit-flex;
        align-items:center;
        -webkit-align-items: center;
  }
}
@media ( min-width: 992px ) {
  .row-md-flex-center {
        display: flex;
		display: -webkit-flex;
        align-items:center;
		-webkit-align-items: center;
  }
}
@media ( min-width: 1200px ) {
  .row-lg-flex-center {
        display: flex;
		display: -webkit-flex;
        align-items:center;
		-webkit-align-items: center;
  }
}

/* Vertical alignment */
.container-xs-cell-center {
    display: table-cell;
    vertical-align: middle;
}
@media ( min-width:768px ) {
    .container-sm-cell-center {
        display: table-cell;
        vertical-align: middle;
    }
}   

/*.fixed {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  width: 100%; 
}*/

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #007bff transparent;
  position: relative;
  display: inline-block;
}

.triangle:after,  
.triangle:before {
  border-top: 5px solid #007bff;
  content: '';
  width: 20px;
  top: -8px;
  left: -10px;
  position: absolute;  
}

/*.triangle:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent white transparent; 
  position: absolute;  
  top: 10px;
}*/

/*.btn-getquote {
    margin-top: 25px;
}*/

.k-steps {
    margin: 5px auto 20px auto;
    /* min-height: 130px; */
}

/*.k-steps-low {
    height: 200px;
}
@media ( min-width:768px ) {
    .k-steps-sm-low {
        height: 100px;
    }
}
.k-steps-high {
    height: 150px;
}*/

.k-step {
    padding: 20px;
    /*width: 100%;  
    height: 100%;
    display: table;*/
    /* border-bottom: black solid; */
    min-height: 150px;
}

.k-step-start {
  margin-top: 30px;
}

.k-filter-step-0 {
  margin-top: 15px;
}

#quote-page {
    position: relative;
    padding: 10px 0 80px;
}

.loading-overlay {
    background: rgba(255, 255, 255, 0.7);
    bottom: 0;
    /* display: none; */
    font-size: 24px;
    left: 0;
    padding: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;
}

.progress-overlay {
    position: fixed;
    /* background-color: grey; */
    padding: 20px;
    text-align: center;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 110px auto;
    height: 260px;
    z-index: 100;
    max-width: 830px;
}    

/* Fix problem width width when multi select directive is initially hidden
    https://github.com/angular-ui/ui-select/issues/1126
 */
.ui-select-match + input{
    width: 300px !important; 
    /*width: 100% !important;*/
}

/* Modal fullscreen */
/*.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}*/

.modal-fs {
     width: 100%;
     height: 100%;
     margin: 0;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
}

.modal-fs .modal-content {
     min-height: 100%;
     /* background-color: rgba(255,255,255,.97); */
     border: 0px;
     border-radius: initial;
     /* margin: 10px; */
     padding: 25px 50px;
}

#compareModal .modal-body,
#contactModal .modal-body {
    /*For PDF print*/
    background-color: white;
    border-top: 1px dotted rgba(210,210,210,0.62);
    /* margin: 20px auto; */
    /*padding: 40px 15px;*/
}

#compareModal .modal-header,
#contactModal .modal-header {
    border-bottom: initial;
    padding: initial;
    /* background-color: #f5f5f5; */
    /* padding-bottom: inherit; */
    margin: 30px auto;
}

#compareModal .modal-footer {
  background-color: #eee;
}

#compareModal .close, 
#contactModal .close {
    font-weight: initial;
    font-size: 50px;
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.66);
    width: 50px;
    text-shadow: initial;
    /* margin-right: 10px; */
    /* top: 20px; */
    /* right: 20px; */
    /* position: absolute; */
    z-index: 2;
}

#compareModal .modal-title {
    /* margin-top: 25px; */
}

#contactModal form button {
    margin-top: 15px;
}   

#contactModal form .form-group {
    margin-bottom: 20px;
}   

.compare-row {
    width: 20%;
}


/* Toastr override, .modal z-index is 1050 */
#toast-container {
    z-index: 1040;
}

#toast-container > div {
    padding: 15px 35px 15px 50px;
    border-radius: 50px 50px 50px 50px;
    width: unset;
}

.toast-message {
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 7px;
}

.deLorean {
    font-family: 'ITCAvantGardeStdBold';
}


/* Alpha 4 Bootstrap Reflow table */

.table-reflow thead {
  float: left;
}

.table-reflow tbody {
  display: block;
  white-space: nowrap;
}

.table-reflow th,
.table-reflow td {
  border-top: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
}

.table-reflow th:last-child,
.table-reflow td:last-child {
  border-right: 1px solid #eceeef;
}

.table-reflow thead:last-child tr:last-child th,
.table-reflow thead:last-child tr:last-child td,
.table-reflow tbody:last-child tr:last-child th,
.table-reflow tbody:last-child tr:last-child td,
.table-reflow tfoot:last-child tr:last-child th,
.table-reflow tfoot:last-child tr:last-child td {
  border-bottom: 1px solid #eceeef;
}

.table-reflow tr {
  float: left;
  /* width: 15em; */
}

.table-reflow tr th,
.table-reflow tr td {
  display: block !important;
  border: 1px solid #eceeef;
}

/* End reflow */

/*table { border-collapse: collapse; }

tr { display: block; float: left; }
th, td { display: block }
*/

.jumbotron {
    background-color: white;
    margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.panel-quote {
    margin-bottom: 0;
    border-radius: inherit;
    border-bottom-width: 0;
}

.panel-quote:last-child {    
    border-bottom-width: initial;    
}

.panel-quote.highlighted {
    /*border-color: #eda00d;*/
    /*border: solid 2px #eda00d;*/
    /* border-right: solid 1px #eda00d; */
}

.filter-box {
    display: inline-block;
    /* width: auto; */
    /* padding: 10px 2px; */
}

.sort-box {
    display: inline-block;
}

.sort-box .form-control {
    margin-bottom: 60px;
}

.question-box {
    min-height: 100px;
    padding-top: 10px;
}  

.footer {
    background-color: #444;
    color: #a3a3a3;
}

.k-footer {
    padding-top: 50px;
    /* padding-bottom: 50px; */
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    /* margin-bottom: 49px; */
}

.k-footer a {
    color: #fff;
}

.k-send-email {
    margin-bottom: 80px;
}

.k-send-email h3 {
    margin-bottom: 20px;
}

.dl-horizontal dt {
  width: 48%;
}

.dl-horizontal dd {
  margin-left: 53%;
}

.dl-horizontal.dl-narrow dt {
  width: 38%;
}

.dl-horizontal.dl-narrow dd {
  margin-left: 43%;
}

.marketing-steps {
    /* margin-bottom: 70px; */
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.loan-selection {
     padding-top: 20px; 
    /* padding-bottom: 15px; */
}

.loan-selection .help-block {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -4px;
}

.k-circle {
    border-radius: 50%;
    display: inline-block;    
    width: 120px;
    height: 120px;    
    font-size: 3.5em;
    color: #555;
    line-height: 120px;
    text-align: center;    
    border: #555 1px solid;
}

