<form method="post" name="ajaxproductcalculatorloan6" id="ajaxproductcalculatorloan6" class="ajaxproductcalculatorsaving">
 <div id="index">
 <div class="eventlistheader" id="eventlistproduct6" onclick="recordOutboundClick('Sklop: productDolgoročni Kredit Klasik','product6'); javascript:openIndexAttachement('product6');">
 <div class="year width600">
 <table width="100%">
 <tr>
 <td class="tdtitle">
 <h2>Dolgoročni Kredit Klasik&nbsp;</h2>
 </td>
 <td class="tdline">
 <div class="eventlistheader bgpos">&nbsp;</div>
 </td>
 <td width="25">
 <div id="arrowproduct6" class="arrowup noprint">&nbsp;</div>
 </td>
 </tr>
 </table>
 </div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div class="eventlistdataopened" id="eventlistdataproduct6" style="display:block;">
 <input type="hidden" name="productinterestrateversionid" value="" />
 <input type="hidden" name="productadditionalcostversionid" value="275" />
 <div>
 <div class="calculatoritemtitle">Skupni znesek kredita:</div>
 <div class="calculatoriteminput">
 <span>
 <input type="text" name="amount" class="calculatoriteminputtermother" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" value="1.000,00" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="currencyid" value="978" />
 <div class="currencytop">EUR</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="bold inputdisabled or">ali</div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Mesečna obveznost:</div>
 <div>
 <span>
 <input type="text" name="annuity" class="calculatoriteminputterm1" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="annuitycurrencyid" value="978" />
 <div class="currencytop">EUR</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle errortextlarge">Doba odplačila:</div>
 <div>
 <span>
 <input type="text" maxlength="3" name="term" onkeypress="return keyOnlyNumericWEnter(event)" class="calculatoriteminputterm1 error" value="12" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="termtypeid" value="2" />
 <div class="currencytop">mesec</div>
 </div>
 <div class="errortext errortextpadding">
 <div class="spacer5">&nbsp;</div>
 * Izbrana doba odplačila je prekratka. Najkrajša doba odplačila je 13 mesecev.</div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Obrestna mera:</div>
 <div class="calculatoriteminput">
 <select name="productinterestratetypeid" onchange=" if (this.value == 1) setProductCalculatorLoanSimulationType(0, 6); if (this.value == 8) setProductCalculatorLoanSimulationType(1, 6); ">
 <option value="1" selected="true">fiksna obrestna mera</option>
 <option value="8">spremenljiva obrestna mera</option>
 </select>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle calculatoritemtitlesim">
 <div class="floatleftnomargin">Želim uporabiti simulacijo:</div>
 <div class="floatleftnomargin">
 <img class="helpicon" src="http://www.nkbm.si/images/helpicon.png" title="Pojasnilo pri simulaciji" onclick="javascript:recordOutboundClick('Help popup: Pojasnilo pri simulaciji',window.location.href); showHideHelpPopup('6');" />
 </div>
 <div class="helppopupholder">
 <div class="helppopup" id="helppopup6">
 <div class="helppopuptext">
 <div class="right_close_button">
 <a href="javascript:showHideHelpPopup('6','true');">
 <img src="http://www.nkbm.si/images/helppopupclose.png" alt="Zapri" title="Zapri" />
 </a>
 </div>
 <div class="clear-all">&nbsp;</div>Simulacija je pomagalo za informativni izračun. Z njo je možno simulirati višino obrestne mere.&nbsp;</div>
 <div class="helppopupbottom">&nbsp;</div>
 </div>&nbsp;</div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="calculatoriteminput">
 <input type="checkbox" name="simulation" value="1" onclick="setProductCalculatorLoanSimulation(this.checked, 6)" />
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">
 <div name="simulationpercent" id="simulationpercent6" class="inputdisabled">Želim izračun po obrestni meri:</div>
 <div name="simulationmargin" id="simulationmargin6" style="display:none;" class="inputdisabled">Želim izračun z maržo:</div>
 </div>
 <div>
 <span>
 <input type="text" class="calculatoriteminputterm1" name="simulationinterestratepercent" id="simulationinterestratepercent6" maxlength="6" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" disabled="true" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <div class="currencytop inputdisabled" id="simulationpercentsign6">
 %
 </div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Sodelovanje z banko:</div>
 <div class="calculatoriteminput">
 <select name="producttypeid">
 <option value="6" selected="true">komitent</option>
 <option value="7">nekomitent</option>
 </select>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Zavarovanje:</div>
 <div class="calculatoriteminput">
 <select name="insurancetypeid" onchange="">
 <option value="1" selected="true">stroški odplačevanja</option>
 <option value="2">porok in ostala neprv. zav.</option>
 <option value="3">hipoteka na nepremičnino</option>
 <option value="4">prvovrstna zavarovanja</option>
 </select>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <input type="hidden" name="productadditionalcostdimension1jointlistid" value="0" />
 <input type="hidden" name="productadditionalcostdimension2jointlistid" value="0" />
 <input type="hidden" name="productadditionalcostdimension3jointlistid" value="0" />
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div class="button-small" style=" float:left">
 <div class="button-small-left">&nbsp;</div>
 <div class="button-small-middle">
 <a class="button-link" title="IZRAČUN" href="javascript:void(0);" onclick=" recordOutboundClick('IZRAČUN', window.location.href); getAjaxProductCalculatorLoan(&quot;6&quot;, 1, document.getElementById('ajaxproductcalculatorloan6').producttypeid.value, document.getElementById('ajaxproductcalculatorloan6').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan6').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan6').productadditionalcostdimension1jointlistid.value, document.getElementById('ajaxproductcalculatorloan6').productadditionalcostdimension2jointlistid.value, document.getElementById('ajaxproductcalculatorloan6').productadditionalcostdimension3jointlistid.value, document.getElementById('ajaxproductcalculatorloan6').amount.value, document.getElementById('ajaxproductcalculatorloan6').annuity.value, document.getElementById('ajaxproductcalculatorloan6').term.value, document.getElementById('ajaxproductcalculatorloan6').termtypeid.value, document.getElementById('ajaxproductcalculatorloan6').currencyid.value, document.getElementById('ajaxproductcalculatorloan6').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan6').simulation.checked, document.getElementById('ajaxproductcalculatorloan6').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan6').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan6').productinterestrateversionid.value, '');">IZRAČUN</a>
 </div>
 <div class="button-small-right">&nbsp;</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 </form>