<form method="post" name="ajaxproductcalculatorloan12" id="ajaxproductcalculatorloan12" class="ajaxproductcalculatorsaving">
 <div id="index">
 <div class="eventlistheader" id="eventlistproduct12" onclick="recordOutboundClick('Sklop: productKratkoročni Kredit (Kredit Takoj)','product12'); javascript:openIndexAttachement('product12');">
 <div class="year width600">
 <table width="100%">
 <tr>
 <td class="tdtitle">
 <h2>Kratkoročni Kredit (Kredit Takoj)&nbsp;</h2>
 </td>
 <td class="tdline">
 <div class="eventlistheader bgpos">&nbsp;</div>
 </td>
 <td width="25">
 <div id="arrowproduct12" class="arrowup noprint">&nbsp;</div>
 </td>
 </tr>
 </table>
 </div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div class="eventlistdataopened" id="eventlistdataproduct12" style="display:block;">
 <input type="hidden" name="productinterestrateversionid" value="" />
 <input type="hidden" name="productadditionalcostversionid" value="274" />
 <div>
 <div class="calculatoritemtitle">Skupni znesek kredita:</div>
 <div class="calculatoriteminput">
 <span>
 <input type="text" name="amount" class="calculatoriteminputtermother" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" value="7.500,00" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="currencyid" value="978" />
 <div class="currencytop">EUR</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="bold inputdisabled or">ali</div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Mesečna obveznost:</div>
 <div>
 <span>
 <input type="text" name="annuity" class="calculatoriteminputterm1" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="annuitycurrencyid" value="978" />
 <div class="currencytop">EUR</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Doba odplačila:</div>
 <div>
 <span>
 <input type="text" class="calculatoriteminputterm1" maxlength="3" name="term" onkeypress="return keyOnlyNumericWEnter(event)" value="12" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <input type="hidden" name="termtypeid" value="2" />
 <div class="currencytop">mesec</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <input type="hidden" name="productinterestratetypeid" />
 <div>
 <div class="calculatoritemtitle calculatoritemtitlesim">
 <div class="floatleftnomargin">Želim uporabiti simulacijo:</div>
 <div class="floatleftnomargin">
 <img class="helpicon" src="https://www.nkbm.si/images/helpicon.png" title="Pojasnilo pri simulaciji" onclick="javascript:recordOutboundClick('Help popup: Pojasnilo pri simulaciji',window.location.href); showHideHelpPopup('12');" />
 </div>
 <div class="helppopupholder">
 <div class="helppopup" id="helppopup12">
 <div class="helppopuptext">
 <div class="right_close_button">
 <a href="javascript:showHideHelpPopup('12','true');">
 <img src="https://www.nkbm.si/images/helppopupclose.png" alt="Zapri" title="Zapri" />
 </a>
 </div>
 <div class="clear-all">&nbsp;</div>Simulacija je pomagalo za informativni izračun. Z njo je možno simulirati višino obrestne mere.&nbsp;</div>
 <div class="helppopupbottom">&nbsp;</div>
 </div>&nbsp;</div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="calculatoriteminput">
 <input type="checkbox" name="simulation" value="1" onclick="setProductCalculatorLoanSimulation(this.checked, 12)" />
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">
 <div name="simulationpercent" id="simulationpercent12" class="inputdisabled">Želim izračun po obrestni meri:</div>
 <div name="simulationmargin" id="simulationmargin12" style="display:none;" class="inputdisabled">Želim izračun z maržo:</div>
 </div>
 <div>
 <span>
 <input type="text" class="calculatoriteminputterm1" name="simulationinterestratepercent" id="simulationinterestratepercent12" maxlength="6" onkeypress="return keyOnlyNumericWEnter(event)" onchange="formatCurrency(this,2)" disabled="true" />
 </span>
 </div>
 <div class="calculatoritemcurrency">
 <div class="currencytop inputdisabled" id="simulationpercentsign12">
 %
 </div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Sodelovanje z banko:</div>
 <div class="calculatoriteminput">
 <input type="hidden" name="producttypeid" value="6" />
 <div class="currencytop">komitent</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <div>
 <div class="calculatoritemtitle">Zavarovanje:</div>
 <div class="calculatoriteminput">
 <select name="insurancetypeid" onchange="">
 <option value="1">stroški odplačevanja</option>
 <option value="2">porok in ostala neprv. zav.</option>
 <option value="3" selected="true">hipoteka na nepremičnino</option>
 <option value="4">prvovrstna zavarovanja</option>
 </select>
 </div>
 <div class="clear-all">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 <input type="hidden" name="productadditionalcostdimension1jointlistid" value="0" />
 <input type="hidden" name="productadditionalcostdimension2jointlistid" value="0" />
 <input type="hidden" name="productadditionalcostdimension3jointlistid" value="0" />
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div class="button-small" style=" float:left">
 <div class="button-small-left">&nbsp;</div>
 <div class="button-small-middle">
 <a class="button-link" title="IZRAČUN" href="javascript:void(0);" onclick=" recordOutboundClick('IZRAČUN', window.location.href); getAjaxProductCalculatorLoan(&quot;12&quot;, 1, document.getElementById('ajaxproductcalculatorloan12').producttypeid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan12').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostdimension1jointlistid.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostdimension2jointlistid.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostdimension3jointlistid.value, document.getElementById('ajaxproductcalculatorloan12').amount.value, document.getElementById('ajaxproductcalculatorloan12').annuity.value, document.getElementById('ajaxproductcalculatorloan12').term.value, document.getElementById('ajaxproductcalculatorloan12').termtypeid.value, document.getElementById('ajaxproductcalculatorloan12').currencyid.value, document.getElementById('ajaxproductcalculatorloan12').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan12').simulation.checked, document.getElementById('ajaxproductcalculatorloan12').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestrateversionid.value, '');">IZRAČUN</a>
 </div>
 <div class="button-small-right">&nbsp;</div>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div class="spacer10">&nbsp;</div>
 <div class="ajaxproductcalculatortitle">Izračun kredita</div>
 <div class="ajaxproductcalculatorleft">Skupni znesek kredita:</div>
 <div class="ajaxproductcalculatorright">
 <b>7.500,00 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Mesečna obveznost:</div>
 <div class="ajaxproductcalculatorright">
 <b>642,74 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Število obrokov:</div>
 <div class="ajaxproductcalculatorright">
 <b>12</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Stroški odobritve:</div>
 <div class="ajaxproductcalculatorright">
 <b>350,00 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Stroški odplačevanja:</div>
 <div class="ajaxproductcalculatorright">
 <b>0,00 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Skupni stroški kredita:</div>
 <div class="ajaxproductcalculatorright">
 <b>562,88 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Efektivna obrestna mera:</div>
 <div class="ajaxproductcalculatorright">
 <b>15,19%
 </b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorleft">Skupni znesek za plačilo:</div>
 <div class="ajaxproductcalculatorright">
 <b>8.062,88 EUR</b>
 </div>
 <div class="clear-all">&nbsp;</div>
 <div class="ajaxproductcalculatorline">&nbsp;</div>
 <div class="ajaxproductcalculatorcomment">Pri izračunu je bila uporabljena <a href="https://www.nkbm.si/obrestna-mera/12?currencyid=978">nominalna letna obrestna mera</a> 5,20%.</div>
 <div class="spacer10">&nbsp;</div><p>Izračunana EOM velja na dan izračuna. Spremeni se, če se spremeni obrestna mera, stroški odobritve in odplačevanja kredita ter datum odobritve kredita. EOM je izračunana ob predpostavki, da je kredit izkoriščen in gre v odplačilo takoj (ni obračuna interkalarnih obresti). </p>
 <br/>
 <p>Banka kredite obrestuje po sestavljeni&nbsp;fiksni letni obrestni meri. V izračunu je kot osnova uporabljen EURIBOR, veljaven na današnji dan. Marža, določena na letni ravni, je v izračunu fiksna.</p>
 <br/>
 <p>Spoštovani, želeli bi vas opozoriti, da je izračun informativne narave in za banko ni zavezujoč. Znesek kredita, doba odplačevanja in stroški odobritve ter odplačevanja so odvisni od poslovanja kreditojemalca. Podrobnejše informacije in natančen izračun lahko dobite v vseh <a href="https://www.nkbm.si/">poslovalnicah</a> naše banke. </p>
 <br/>
 <p><em><STRONG>Efektivna obrestna mera ali EOM</STRONG> je letna stopnja, ki odraža dejansko ceno denarja in se izračuna z upoštevanjem pogojev kredita, to je skupnega zneska kredita, roka črpanja, roka vračila, števila mesečnih obveznosti, obrestne mere, stroškov odobritve in zavarovanja kredita; njen izračun pa je kot informacija namenjen kreditojemalcu in za izpolnitev zahteve po izračunu EOM v skladu z zakonskimi določbami Zakona o potrošniških kreditih. Efektivna obrestna mera je informativne narave in se lahko spremeni, če se spremeni katera koli od postavk pri izračunu.</em></p>
 <p><em></em>&nbsp;</p>
 <p><em><STRONG>Skupni stroški kredita</STRONG> so vsi stroški, vključno z obrestmi, provizijami, davki in drugimi vrstami pristojbin, ki jih mora kreditojemalec plačati v zvezi s kreditno pogodbo in so banki znani, stroški, povezani s pomožnimi storitvami v zvezi s kreditno pogodbo, zlasti zavarovalne premije, članarine, takse in stroški drugih pogodb, sklenjenih z banko; v skupne stroške kredita se ne vštevajo notarski stroški in zavarovalne premije za zavarovanje blaga, katerega nakup se financira s kreditom. Ker je obrestna mera za redne obresti po tej pogodbi spremenljiva, izračun skupnih stroškov kredita temelji na predpostavki, da obrestna mera ostane enaka začetni višini do končne zapadlosti kredita po tej pogodbi.</em></p>
 <p><em></em>&nbsp;</p><em>
 <p><em><STRONG>Skupni znesek</STRONG>, ki ga mora plačati kreditojemalec je vsota skupnega zneska kredita in skupnih stroškov kredita.</em></p></em><div class="spacer10">&nbsp;</div><div class="button-normal-right " style="float:left;width:auto;"><div class="button-normal-right-left">&nbsp;</div><div class="button-normal-right-middle" style=""><a class="button-link" title="NATISNI" style="" href="javascript:void(0);" onclick=" recordOutboundClick('NATISNI', window.location.href); popupPrintCalculationWindowLoan(&quot;12&quot;, document.getElementById('ajaxproductcalculatorloan12').producttypeid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan12').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan12').amount.value, document.getElementById('ajaxproductcalculatorloan12').annuity.value, document.getElementById('ajaxproductcalculatorloan12').term.value, document.getElementById('ajaxproductcalculatorloan12').termtypeid.value, document.getElementById('ajaxproductcalculatorloan12').currencyid.value, document.getElementById('ajaxproductcalculatorloan12').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan12').simulation.checked, document.getElementById('ajaxproductcalculatorloan12').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestrateversionid.value, ''); ">NATISNI</a></div><div class="button-normal-right-right" onclick=" recordOutboundClick('NATISNI', window.location.href); popupPrintCalculationWindowLoan(&quot;12&quot;, document.getElementById('ajaxproductcalculatorloan12').producttypeid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan12').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan12').amount.value, document.getElementById('ajaxproductcalculatorloan12').annuity.value, document.getElementById('ajaxproductcalculatorloan12').term.value, document.getElementById('ajaxproductcalculatorloan12').termtypeid.value, document.getElementById('ajaxproductcalculatorloan12').currencyid.value, document.getElementById('ajaxproductcalculatorloan12').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan12').simulation.checked, document.getElementById('ajaxproductcalculatorloan12').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestrateversionid.value, ''); ">&nbsp;</div></div><div class="clear-all">&nbsp;</div><div class="spacer10">&nbsp;</div><div class="button-normal-right-green " style="float:left;text-transform:uppercase;"><div class="button-normal-right-left">&nbsp;</div><div class="button-normal-right-middle" style=""><a class="button-link" title="Prikaži amortizacijski načrt v tabeli" style="" href="javascript:void(0);" onclick=" recordOutboundClick('Prikaži amortizacijski načrt v tabeli', window.location.href); popupPaymentCalculationWindowLoan(12, document.getElementById('ajaxproductcalculatorloan12').producttypeid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan12').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan12').amount.value, document.getElementById('ajaxproductcalculatorloan12').annuity.value, document.getElementById('ajaxproductcalculatorloan12').term.value, document.getElementById('ajaxproductcalculatorloan12').termtypeid.value, document.getElementById('ajaxproductcalculatorloan12').currencyid.value, document.getElementById('ajaxproductcalculatorloan12').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan12').simulation.checked, document.getElementById('ajaxproductcalculatorloan12').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestrateversionid.value); ">Prikaži amortizacijski načrt v tabeli</a></div><div class="button-normal-right-right" onclick=" recordOutboundClick('Prikaži amortizacijski načrt v tabeli', window.location.href); popupPaymentCalculationWindowLoan(12, document.getElementById('ajaxproductcalculatorloan12').producttypeid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestratetypeid.value, document.getElementById('ajaxproductcalculatorloan12').insurancetypeid.value, document.getElementById('ajaxproductcalculatorloan12').amount.value, document.getElementById('ajaxproductcalculatorloan12').annuity.value, document.getElementById('ajaxproductcalculatorloan12').term.value, document.getElementById('ajaxproductcalculatorloan12').termtypeid.value, document.getElementById('ajaxproductcalculatorloan12').currencyid.value, document.getElementById('ajaxproductcalculatorloan12').annuitycurrencyid.value, document.getElementById('ajaxproductcalculatorloan12').simulation.checked, document.getElementById('ajaxproductcalculatorloan12').simulationinterestratepercent.value, document.getElementById('ajaxproductcalculatorloan12').productadditionalcostversionid.value, document.getElementById('ajaxproductcalculatorloan12').productinterestrateversionid.value); ">&nbsp;</div></div><div style="float:left; width:15px;">&nbsp;</div><div class="button-normal-right-green " style="float:left;text-transform:uppercase;"><div class="button-normal-right-left">&nbsp;</div><div class="button-normal-right-middle" style=""><a class="button-link" title="Naroči svetovanje" style="" href="javascript:void(0);" onclick=" recordOutboundClick('Naroči svetovanje', window.location.href); $('#tab4').click(); $(window).scrollTop($('#tabs').offset().top - 150); ">Naroči svetovanje</a></div><div class="button-normal-right-right" onclick=" recordOutboundClick('Naroči svetovanje', window.location.href); $('#tab4').click(); $(window).scrollTop($('#tabs').offset().top - 150); ">&nbsp;</div></div><div class="clear-all">&nbsp;</div><div class="spacer20">&nbsp;</div></div>
 <div class="spacer10">&nbsp;</div>
 </div>
 <div class="spacer10">&nbsp;</div>
 </form>